/* #region Base */
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img{
    display: block;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

a.logo{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

a.logo span{
    color: #2e2f42;
}
/* #endregion Base */

.page-header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    width: 100%;
}

.page-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav{
    display: flex;
    align-items: center;
}

.burger-menu {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    align-items: center;
    border: none;
    background-color: #fff;
}

@media screen and (max-width: 767px){
    .page-nav .nav-list{
        display: none;
    }
    .page-header .addresses{
        display: none;
    }

    .page-header .logo{
        padding: 16px 0;
    }
}

@media screen and (min-width: 768px) {
    .burger-menu{
        
        display: none;
    }

    .addresses-list{
        flex-direction: column;
    }
}

@media screen and (min-width: 1158px) {

    .addresses-list{
        flex-direction: row;
        column-gap: 40px;
    }

    .addresses-list .contact-link{
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
    }
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-list li a.nav-a{
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list li a.nav-a.current {
    position: relative;
    color: #404bbf;
}

.nav-list li > a.current:after{
    content: "";
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
}

.nav-list li a.nav-a:hover{
    color: #404BBF;
}

.nav-list li a.nav-a:focus{
    text-decoration: underline;
    color: #404BBF;
}

.addresses{
    font-style: normal;
    display: flex;
    /* align-items: center; */
}

.addresses-list{
    display: flex;
    row-gap: 12px;
}

.contact-link{
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus{
    color: #404BBF;
}

.section{
    padding: 96px 0;
}

@media screen and (min-width: 1158px){
    .section{
        padding: 120px 0;
    }
}

.order-service{
    /* padding: 188px 0; */
    color: #fff;
    margin: 0 auto;
    /* max-width: 1440px; */
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px){
    .order-service{
        padding: 72px 0;
    }

    .main-h{
        font-size: 36px;
        text-align: center;
        line-height: 1.111;
    }
}

@media screen and (min-width: 768px){
    .order-service{
        padding: 112px 0;
    }
}

@media screen and (min-width: 768px) {
    .order-service {
        padding: 188px 0;
    }
}

.main-h{
    margin: auto;
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.order-button{
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    background-color: #4D5AE5;
    margin-top: 48px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover{
    background-color: #404BBF;
}

.order-button:focus{
    background-color: #404BBF;
}

.advantages-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .advantages-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .advantage-item{
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .advantages-list li {
        width: calc((100% - 72px) / 4);
    }

    .advantage-item .advantages-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h3.advantage-h{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
    .advantage-p{
        font-weight: 400;
    }
}

.advantages-icon{
    display: none;
    margin-bottom: 8px;
    max-height: 112px;;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:  #F4F4FD;
    padding: 24px 0;
}

.advantage-h{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantage-p{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
}

.team h2.team-main-h{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
}

@media screen and (min-width: 768px){
    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

.team-item{
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    /* width: calc((100% - 72px) / 4); */
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);;
}

.team-item img{
    max-width: 100%;
}

.team-item .item-text{
    text-align: center;
    padding: 32px 0;
}
section.team ul li h3.team-h{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin-bottom: 8px;
}

section.team ul li p.team-p{
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.social-links-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link-item{
    width: 40px;
    height: 40px;
}

.social-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}

.social-link-img{
    fill: #F4F4FD;
}

.portfolio-main-header{
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overflow{
    transform: translateY(0);
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.overflow{
    color: #f4f4fd;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 100%;
    padding: 40px 32px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-text h3{
    margin-bottom: 8px;
}

.page-footer{
    background-color: #2E2F42;
}

.page-footer .tablet-contain{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.foot-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17.5px;
}

.foot-head p{
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.footer-item a.logo span{
    color: #F4F4FD;
}

.footer-item p{
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list li a:hover,
.footer-social-list li a:focus{
    background-color: #31D0AA;
}

.footer-social-icon{
    fill: #F4F4FD;
}

.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form-input{
    color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    background-color: #2E2F42;
    outline: transparent;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-button {
    border-radius: 4px;
    background-color:  #4D5AE5;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus{
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

    .page-footer .container{
        display: flex;
        justify-content: center;
    }
    .page-footer .tablet-contain {
        width: 497px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;   
        row-gap: 72px;
    }

    .foot-head p{
        max-width: 264px;
    }

    .footer-item {
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
    }

    .footer-form {
        flex-direction: row;
        column-gap: 24px;
    }

    .footer-form-contain{
        width: 100%;
    }

    .footer-form-input{
        width: calc(58% - 24px);
    }
}

@media screen and (min-width: 1158px){
    .page-footer .tablet-contain {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
        align-items: flex-start;
    }

    .footer-form-input{
        width: 264px;
    }

    .socials{
        margin-right: 80px;
    }

    .foot-head{
        margin-right: 120px;
    }

    .foot-head p{
        width: 264px;
    }
}

/* #region Mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    transform: translateX(0);
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #E7E9FC;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

.mobile-menu-link.current{
    color: #404BBF;
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-menu-contacts a {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.mobile-menu-contacts > li:first-child > a{
    color: #404BBF;
}

.mobile-menu .footer-social-list {
    gap: 40px;
}

.footer-social-icon {}
/* #endregion Mobile-menu */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal{
    position: absolute;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px){
    .modal{
        width: 288px;
        padding: 72px 16px 16px 24px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}

.close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus{
    background-color: #404BBF;
    border: none;
}

.close-icon{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon{
    fill: #fff;
}

.form-header{
    margin-bottom: 16px;
    text-align: center;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-wrapper {
    margin-bottom: 8px;
}

.form-label{
    display: block;
    color:#8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-contain {
    position: relative;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-input:focus{
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon{
    fill: #4D5AE5;
}

.textarea-wrapper{
    margin-bottom: 16px;
}

.form-text{
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    background-color: transparent;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text::placeholder{
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-text:focus {
    border-color: #4D5AE5;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.label-checkbox {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .label-checkbox > .custom-checkbox{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-form .order-button {
    margin-top: 0;
}